<html ng-app="app">
<head>
  <script src="/pouchdb/dist/pouchdb.js"></script>
  <script src="/angular/angular.min.js"></script>
  <script src="/angular-uuid-service/uuid-svc.min.js"></script>
  <script src="/angular-cookies/angular-cookies.min.js"></script>
  <script src="/ngStorage/src/angularLocalStorage.js"></script>
  <script src="/ng-pouch/ngPouch.js"></script>

  <script src="todo.js"></script>
  <script src="todo-ctrl.js"></script>
  <script src="app.js"></script>

  <link rel="stylesheet" href="todo.css">
</head>



<div ng-controller="TodoController">
  <h2>Todo </h2>

    <span>{{remaining()}} of {{todos.length}} remaining -  [ <a href="" ng-click="archive()">archive</a> ] </span>

  <ul class="unstyled">
    <li ng-repeat="todo in todos">
      <input type="checkbox" ng-model="todo.doc.done" ng-click="updateTodo(todo)">
      <span class="done-{{todo.doc.done}}"> {{todo.doc.text}}</span>
    </li>
  </ul>

  <form ng-submit="addTodo()">
    <input type="text" ng-model="todoText"  size="30"
           placeholder="add new todo here">
    <input class="btn-primary" type="submit" value="add">
  </form>

  <hr>
  <div ng-if="logged_in">
    <input type="button" value="Log off" ng-click="logoff()"> - {{ng_pouch.statusTitle()}}
  </div>

  <div ng-if="!logged_in">
    <input type="button" value="Log In" ng-click="login()"> - {{ng_pouch.statusTitle()}}
  </div>


</html>