<html ng-app="app">
<head>
  <script src="/pouchdb/dist/pouchdb.js"></script>
  <script src="/angular/angular.min.js"></script>
  <script src="/angular-uuid-service/uuid-svc.min.js"></script>
  <script src="/angular-cookies/angular-cookies.min.js"></script>
  <script src="/ngStorage/src/angularLocalStorage.js"></script>
  <script src="/ng-pouch/ngPouch.js"></script>

  <script src="pouch_conflict.js"></script>
  <script src="todo.js"></script>
  <script src="todo-ctrl.js"></script>
  <script src="app.js"></script>

  <link rel="stylesheet" href="todo.css">
</head>



<div ng-controller="TodoController">
  <h2>Create Todo </h2>

  <form ng-submit="addTodo()">
    <input type="text" ng-model="todoText"  size="30"
           placeholder="Task">
    <input class="btn-primary" type="submit" value="add">
  </form>

  <h3>Edit Todos</h3>

  <ul ng-repeat="todo in todos">
    <li>
    <input type="checkbox" ng-model="todo.doc.done">
    <input type="text" ng-model="todo.doc.text">
    <input type="submit" ng-click="updateTodo(todo)" value="save">
    </li>
  </ul>

  <br>

  <hr>
  <h2>Replicate</h2>
  <p>
    {{ng_pouch.status.localChanges}} Local Changes
  </p>


  <div ng-if="logged_in">
    <input type="button" value="Log off" ng-click="logoff()"> - {{ng_pouch.statusTitle()}}
  </div>

  <div ng-if="!logged_in">
    <input type="button" value="Log In" ng-click="login()"> - {{ng_pouch.statusTitle()}}
  </div>


  <hr>
  <h2>Conflicts</h2>

<pre>
{{conflicts | json}}
</pre>

</html>